:root {
  /* screaming borders */
  --border-red: 1px solid red;
  --border-orange: 1px solid orange;
  --border-yellow: 1px solid yellow;

  /* colors */
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  /* font size paragraph */
  --Paragraph-S: 0.889rem;
  --Paragraph-N: 1rem;
  --Paragraph-L: 1.2rem;

  /* border-radius */
  --border-radius: 10px;

  /* margins */
  --margin-S: 0.5rem;
  --margin-N: 1rem;
  --margin-L: 1.5rem;
  --margin-XL: 2rem;

  /* paddings */
  --padding-S: 0.5rem;
  --padding-N: 1rem;
  --padding-L: 1.5rem;
  --padding-XL: 2rem;

  /* font size based on golden ratio 1.618px */
  --ratio: 0.09rem;

  /*base 18px */
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.125rem;
  --h4: 0.84rem;
  --h5: 0.63rem;
  --h6: 0.47rem;

  --letter-spacing-S: -0.075em; /*-0.075em*/
  --letter-spacing-N: -0.05rem;
  --line-height-L: 1.3rem;
  --line-height-N: 1rem;

  /* Fonts */
  --DSSans-Font-Regular: "DSSansRegular", sans-serif;
  --Font-Weight-Regular-400: 400;
  --Font-Weight-Regular-500: 500;

  --DSSans-Font-Medium: "DSSansMedium", sans-serif;
  --Font-Weight-Medium-400: 400;
  --Font-Weight-Medium-500: 500;

  --DSSans-Font-Italic: "DSSansItalic", sans-serif;
  --Font-Weight-Italic-400: 400;
  --Font-Weight-Italic-500: 500;
}

/* Regular */
@font-face {
  font-family: "DSSansRegular";
  src: url("/assets/fonts/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DSSansRegular";
  src: url("/assets/fonts/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 500;
}

/* Medium */
@font-face {
  font-family: "DSSansMedium";
  src: url("/assets/fonts/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DSSansMedium";
  src: url("/assets/fonts/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

/* Italic */
@font-face {
  font-family: "DSSansItalic";
  src: url("/assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DSSansItalic";
  src: url("/assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}

body {
  font-family: var(--DSSans-Font-Regular);
}

/* mobile styling */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--padding-N);
}

.flex-items {
  /* border: var(--border-red); */
  border-radius: var(--border-radius);
}

.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--White);
  background-color: var(--Purple-500);
  text-align: center;
  overflow: hidden;
}

.card-1 h1 {
  font-family: var(--DSSans-Font-Regular);
  font-weight: var(--Font-Weight-Regular-500);
  font-size: var(--h1);
  line-height: calc(var(--line-height-L) + 0.5rem);
  letter-spacing: var(--letter-spacing-N);
  margin: 1.5rem 0 1rem 0;
  padding: 0 1.5rem;
}

.card-1 img {
  width: 9rem;
  height: auto;
  margin-bottom: var(--margin-S);
}

.card-1 p {
  font-family: var(--DSSans-Font-Regular);
  font-weight: var(--Font-Weight-Regular-400);
  font-size: var(--Paragraph-S);
  margin-bottom: var(--margin-L);
}

.span-10x {
  color: var(--Yellow-500);
}

.card-1 h1 .span-Faster {
  font-family: var(--DSSans-Font-Italic);
  font-weight: var(--Font-Weight-Italic-400);
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--Black);
  padding: var(--padding-N);
  overflow: hidden;
}

.card-2 img {
  width: 14.5rem;
  height: auto;
  margin-bottom: var(--margin-S);
}

.card-2 h3 {
  font-family: var(--DSSans-Font-Regular);
  line-height: var(--line-height-N);
  letter-spacing: var(--letter-spacing-N);
}

.card-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--Yellow-500);
  padding: 1rem 0 0rem 1rem;
  overflow: hidden;
}

.card-3 h3 {
  font-family: var(--DSSans-Font-Regular);
  color: var(--Black);
  line-height: var(--line-height-N);
  letter-spacing: var(--letter-spacing-N);
  margin-bottom: 6.5rem;
  padding-right: var(--padding-XL);
}

/* position: absolute; */
.card-3 img {
  bottom: -1rem;
  width: 9rem;
  height: auto;
  position: absolute;
}

.card-4 {
  color: var(--Black);
  background-color: var(--Purple-100);
  text-align: center;
  overflow: hidden;
}

.card-4 h3 {
  margin: var(--margin-N) 0;
  letter-spacing: var(--letter-spacing-N);
}

.card-4 img {
  width: 14rem;
  height: auto;
  margin-bottom: var(--margin-N);
}

.card-4 p {
  font-family: var(--DSSans-Font-Medium);
  line-height: var(--line-height-N);
  letter-spacing: var(--letter-spacing-N);
  font-size: var(--Paragraph-S);
  margin: 0 1rem 1rem 1rem;
  padding: 0 0.5rem;
}

.card-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--White);
  background-color: var(--Purple-500);
  text-align: center;
  overflow: hidden;
}

.card-5 img {
  width: 12rem;
  height: auto;
  margin: var(--margin-N);
  padding: 0 0.5rem;
}

.card-5 h2 {
  font-family: var(--DSSans-Font-Regular);
  font-weight: var(--Font-Weight-Regular-400);
  color: var(--White);
  line-height: calc(var(--line-height-N) + 0.5rem);
  letter-spacing: var(--letter-spacing-N);
  padding: 0 2rem;
  text-align: center;
  margin: 1rem 0;
}

.card-6 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-N);
  overflow: hidden;
}

.card-6 h1 {
  font-family: var(--DSSans-Font-Regular);
  font-size: var(--h1);
  color: var(--Black);
}

.card-6 p {
  font-family: var(--DSSans-Font-Medium);
  font-size: var(--Paragraph-S);
  letter-spacing: var(--letter-spacing-N);
  margin-bottom: var(--margin-N);
}

.card-6 img {
  width: 8rem;
  height: auto;
}

.card-7 {
  display: flex;
  flex-direction: column;
  background-color: var(--Yellow-100);
  padding: var(--padding-N);
  overflow: hidden;
}

.card-7 h2 {
  font-family: var(--DSSans-Font-Regular);
  color: var(--Black);
  line-height: var(--line-height-L);
  letter-spacing: var(--letter-spacing-N);
  margin-bottom: var(--margin-N);
}

.card-7 .span-quicker {
  font-family: var(--DSSans-Font-Italic);
  font-weight: var(--Font-Weight-Regular-400);
}

.card-7 img {
  width: 9rem;
  height: auto;
  margin-bottom: var(--margin-S);
}

.span-quicker {
  font-family: "DSSansItalic", sans-serif;
  color: var(--Purple-500);
}

.card-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--Yellow-500);
  padding: var(--padding-N);
  overflow: hidden;
}

.card-8 h2 {
  font-family: var(--DSSans-Font-Regular);
  color: var(--Black);
  line-height: var(--line-height-L);
  letter-spacing: var(--letter-spacing-N);
}

.card-8 img {
  width: 10rem;
  height: auto;
  margin-top: var(--margin-N);
}

@media (min-width: 600px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }

  .grid-container-1 {
    border: var(--border-red);
  }

  .card-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    grid-column: 1/3;
    grid-row: 1;
  }

  .card-1 h1 {
    font-size: calc(var(--h1) + 1rem);
    line-height: 3rem;
    margin-top: var(--margin-L);
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    padding: 1rem 1rem 0 1rem;
  }

  .card-2 img {
    width: 18rem;
  }

  .card-2 h3 {
    font-size: var(--h2);
    line-height: var(--line-height-L);
    padding-right: var(--padding-XL);
    margin: 0 auto;
    align-self: center;
  }

  .card-3 {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .card-3 img {
    width: 16rem;
    position: absolute;
    margin: 0;
    align-self: center;
    bottom: -3rem;
  }

  .card-3 h3 {
    font-size: var(--h2);
    line-height: var(--line-height-L);
    margin: 1rem 2rem 0 2rem;
    padding: 0;
  }

  .card-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    grid-column: 1;
    grid-row: 3;
  }

  .card-4 h3 {
    font-size: var(--h2);
    margin: 1rem 0 0 0;
  }

  .card-5 {
    display: flex;
    flex-direction: row;
    gap: 0;
    grid-column: 1/3;
    grid-row: 4;
  }

  .card-5 img {
    width: 16rem;
    height: auto;
    margin: 0 0 0 1rem;
  }

  .card-5 h2 {
    font-size: calc(var(--h2) * 2);
    line-height: 2.8rem;
    margin: 0;
  }

  .card-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 1rem 1rem 0 1rem;
  }

  .card-6 h1 {
    font-size: calc(var(--h1) * 2);
    margin-top: var(--margin-XL);
  }

  .card-6 p {
    font-size: var(--Paragraph-L);
  }

  .card-6 img {
    width: 16rem;
    height: auto;
    margin-bottom: calc(var(--margin-XL) * 2);
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .card-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .card-7 h2 {
    font-size: var(--h2);
    line-height: var(--line-height-L);
  }

  .card-7 img {
    width: 12rem;
    height: auto;
  }

  .card-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .card-8 h2 {
    font-size: var(--h2);
    line-height: var(--line-height-L);
    padding-right: calc(var(--padding-L) + var(--padding-N));
  }

  .card-8 img {
    width: 12rem;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .main-grid {
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 1;
    gap: 2rem;
    padding: var(--padding-XL);
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    grid-column: 2/6;
    grid-row: 1;
    padding: 0;
  }

  .grid-container-1 article {
    border: var(--border-orange);
  }

  .card-1 {
    display: flex;
    gap: 0;
    grid-column: 1/3;
    grid-row: 1;
    padding: 0;
    margin: 0;
  }

  .card-1 img {
    width: 12rem;
    margin-bottom: 0.5rem;
  }

  .card-1 h1 {
    font-family: var(--DSSans-Font-Medium);
    padding: 0 1rem;
    font-size: calc(var(--h1) * 2);
    line-height: 3.8rem;
    letter-spacing: -0.2rem;
    margin: 4rem 0 2rem 0;
  }

  .card-1 p {
    font-family: var(--DSSans-Font-Regular);
    font-size: var(--Paragraph-L);
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    gap: 0;
    grid-column: 1;
    grid-row: 2;
    padding: 0.5rem 0 0 1.5rem;
  }

  .card-2 img {
    width: 21rem;
    height: auto;
    margin: 0;
  }

  .card-2 h3 {
    font-size: var(--h1);
    line-height: 2rem;
    letter-spacing: -0.1rem;
    margin-bottom: var(--margin-L);
    padding-right: 3rem;
  }

  .card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    grid-column: 2;
    grid-row: 2;
    padding: var(--padding-L);
  }

  .card-3 img {
    position: absolute;
    align-self: center;
    bottom: -4.5rem;
    width: 14rem;
    margin: 0 auto;
  }

  .card-3 h3 {
    font-size: var(--h1);
    line-height: 1.8rem;
    text-align: left;
    align-self: flex-start;
    margin: 0;
    padding: 0 2.5rem 0 0;
  }

  .card-4 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 0;
    grid-column: 3;
    grid-row: 1/3;
    padding: 3rem 0 3rem 2rem;
    /* overflow: hidden; */
  }

  .card-4 img {
    width: 24rem;
    height: auto;
    align-self: flex-start;
    margin: 0;
    padding: 1rem 0;
  }

  .card-4 h3 {
    font-size: var(--h1);
    line-height: 1.8rem;
    text-align: left;
    margin: 0;
    padding-right: 3rem;
  }

  .card-4 p {
    font-family: var(--DSSans-Font-Regular);
    font-size: var(--Paragraph-L);
    line-height: 1.4rem;
    text-align: left;
    margin: 0;
    padding: 0 3rem 0 0;
  }

  .card-5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-self: flex-start;
    grid-column: 2/4;
    grid-row: 3;
    gap: 1rem;
    padding: var(--padding-L);
  }
  .card-5 img {
    width: 16rem;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .card-5 h2 {
    font-size: calc(var(--h1) + 0.5rem);
    line-height: 2rem;
    margin: 0 0rem 0 0;
    text-align: left;
    padding: 0;
  }

  .card-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    grid-column: 1;
    grid-row: 3;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  }

  .card-6 h1 {
    font-size: calc(var(--h1) * 2);
    margin: 0;
  }

  .card-6 p {
    font-size: var(--Paragraph-L);
    margin: 0 0 4rem 0;
  }

  .card-6 img {
    width: 12rem;
    height: auto;
    margin: 0;
  }

  /* grid 2 start  */
  .grid-container-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 0;
    width: 18rem;
  }

  .card-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: var(--padding-L);
    grid-column: 1;
    grid-row: 1/3;
  }

  .card-7 h2 {
    font-family: var(--DSSans-Font-Regular);
    font-size: calc(var(--h1) + 0.5rem);
    line-height: 2.5rem;
    letter-spacing: -0.2rem;
    margin: 0 0 0 1rem;
  }

  .card-7 .span-quicker {
    letter-spacing: -0.3rem;
  }

  .card-7 img {
    align-self: center;
    width: 12rem;
    margin: 0;
  }

  .card-8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 3/5;
    padding: var(--padding-L);
    gap: 0;
  }

  .card-8 img {
    width: 15rem;
    height: auto;
    margin: 0;
    align-self: center;
  }

  .card-8 h2 {
    font-family: var(--DSSans-Font-Regular);
    font-size: calc(var(--h1) + 0.5rem);
    letter-spacing: -0.2rem;
    line-height: 2.5rem;
  }
}
